.classroom-app-container {
	display: flex;
	flex-flow: row nowrap;
	height: 75vh;
}

table {
	flex: 2;
	height: 100%;
}

table tbody tr {
	cursor: pointer;
}

div.user-profile {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: baseline;
	padding-left: 2em;
}

div.user-profile p {
	font-size: 1em;
}

div.user-profile .userProp {
	text-transform: capitalize;
	font-weight: 600;
	font-size: larger;
}

img.student-avatar {
	height: 20%;
	object-fit: scale-down;
	margin-bottom: 2.5em;
}

.modal-dialog {
	max-width: fit-content !important;
}

.modal-header-fix {
	margin: auto;
}

.modal-header {
	position: relative;
}

.modal-header button.close {
	position: absolute;
	left: 100%;
	margin: auto -3.8rem;
}

.spinnerShown {
	text-align: center;
	vertical-align: middle;
}
