.modal-dialog.neon__form .modal-content {
	background: rgba(255, 255, 255, 0.01);
	color: var(--text-color-light);
	box-shadow: var(--box-shadow-inset);
	backdrop-filter: var(--filter-blur);
	text-shadow: var(--text-shadow);
	border-radius: 3rem;
}

.modal-dialog.neon__form button.close span {
	color: #fff;
}

.modal-dialog.neon__form .form-control:focus {
	border-color: #60c4aa;
	box-shadow: 0 0 0 0.2rem rgb(0 255 106 / 25%);
}

.modal-dialog.neon__form .form-control.with-error {
	background-color: #a25853;
	opacity: 0.8;
	color: rgba(17, 17, 17, 0.801) !important;
}

.neon__button {
	box-shadow: var(--box-shadow-inset-button);
	color: var(--text-shadow-hover) !important;
	display: flex;
	justify-content: center;
	padding: 1.25rem;
	border-radius: 0.3rem 0.3rem 3rem 3rem !important;
}

.neon__button:hover:not(:disabled) {
	color: var(--text-color-light) !important;
	text-shadow: var(--text-shadow);
	box-shadow: var(--box-shadow-inset-button-hover) !important;
}
