/*========== CARD NEON ==========*/

.neon {
	padding: 2.5rem 0;
}

.neon__card {
	background: rgba(255, 255, 255, 0.01);
	color: var(--text-color-light);
	box-shadow: var(--box-shadow-inset);
	backdrop-filter: var(--filter-blur);
	padding: 3.5rem 1.5rem 2rem;
	border-radius: 3rem;
	text-align: right;
	margin-left: 1rem;
}

.input-group-text {
	box-shadow: var(--box-shadow-inset-button);
	color: var(--text-color-light);
	text-shadow: var(--text-shadow);
	display: flex;
	justify-content: center;
	background-color: transparent !important;
}

.neon__icon,
.input-group-text svg {
	filter: drop-shadow(var(--drop-shadow));
	filter: invert(1);
}
.input-group-text svg {
	fill: var(--text-color-light);
	filter: drop-shadow(var(--drop-shadow));
}

.neon__title,
.neon__description,
.neon__message {
	text-shadow: var(--text-shadow);
}

.neon__title {
	font-size: var(--biggest-font-size);
	margin-bottom: 0.25rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
}

.neon__message {
	font-size: var(--biggest-font-size);
}

.neon__description {
	text-align: initial;
	margin-bottom: 1.5rem;
}

/* Card neon hover */
.neon__card:hover {
	box-shadow: var(--box-shadow-inset-hover);
}

.neon__card:hover .neon__icon {
	filter: drop-shadow(var(--drop-shadow-hover));
}

.neon__card:hover .neon__title,
.neon__card:hover .neon__description {
	text-shadow: var(--text-shadow-hover);
}

.neon__card,
.neon__icon,
.neon__title,
.neon__description {
	transition: 0.3s;
}

div.user-profile {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left: 2em;
}

div.user-profile p {
	font-size: 0.9em;
}

div.user-profile .userProp {
	text-transform: capitalize;
	font-weight: 600;
	font-size: larger;
}

img.student-avatar {
	height: 30%;
	object-fit: scale-down;
	margin-bottom: 2.5em;
	filter: invert(1);
}

@media screen and (min-width: 1024px) {
	.neon {
		max-height: 70vh;
	}
}
@media screen and (max-height: 512px) {
	img.student-avatar {
		display: none;
	}
}
