.table-enter {
	opacity: 0;
}
.table-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}
.table-exit {
	opacity: 1;
}
.table-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}

thead th svg {
	cursor: pointer;
	filter: contrast(0%);
	margin-bottom: -10px;
	transition: filter 0.2s ease-in-out;
}
thead th svg:hover {
	cursor: pointer;
	filter: contrast(100%);
}

.sorting-btns {
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

tbody tr {
	opacity: 0.5;
	transition: opacity 0.15s linear, background-color 0.15s ease-in-out,
		color 0.15s ease-in-out;
}

.highlight-row,
tbody tr:hover {
	opacity: 1 !important;
	background-color: #f8ae5d !important;
}

.highlight-row {
	filter: brightness(100%);
	background-color: #f8ae5d;
	color: #000;
}
